<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/normalize.css" />
    <link rel="stylesheet" href="../../styles/styles.css" />
    <link rel="stylesheet" href="../../styles/mystyles.css" />
</head>
<body>
    <!-- Lets Create Navigation first -->
    <div class="wrapper">
        <nav class="nav">
          <ul class="nav__list" role="menubar">
            <li class="nav__item">
              <a
                href="../dashboard"
                class="nav__link focus--box-shadow"
                role="menuitem"
                aria-label="Home"
              >
                <svg
                  class="nav__icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  role="presentation"
                >
                  <path
                    fill="#6563ff"
                    d="M20,8h0L14,2.74a3,3,0,0,0-4,0L4,8a3,3,0,0,0-1,2.26V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V10.25A3,3,0,0,0,20,8ZM14,20H10V15a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm5-1a1,1,0,0,1-1,1H16V15a3,3,0,0,0-3-3H11a3,3,0,0,0-3,3v5H6a1,1,0,0,1-1-1V10.25a1,1,0,0,1,.34-.75l6-5.25a1,1,0,0,1,1.32,0l6,5.25a1,1,0,0,1,.34.75Z"
                  />
                </svg>
              </a>
            </li>
            
            <li class="nav__item">
              <a
                href="../setting"
                class="nav__link focus--box-shadow"
                role="menuitem"
                aria-label="Informational messages"
                ><svg
                  class="nav__icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  role="presentation"
                >
                <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"/>
                <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"/>
                </svg>
              </a>
            </li>
            
          </ul>
        </nav>
    

    <!-- Lets build the main part -->

    <main class="main">
        <header class="header">
          <div class="header__wrapper">
            <form action="" class="search">
              <button class="search__button focus--box-shadow" type="submit">
                <svg
                  class="search__icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"
                  />
                </svg>
              </button>
              <input
                class="search__input focus--box-shadow"
                type="text"
                placeholder="Search"
              />
            </form>
            <div class="profile">
              <button class="profile__button">
                <span class="profile__name">Logout</span>
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
              </button>
            </div>
          </div>
        </header>
        <section class="section">
          <header class="section__header">
            <h2 class="section__title">Student Form</h2>
            </header>
            <form action="/admin/edit/<%= data.enrollId %>" method="put" enctype="multipart/form-data">
                <div class="form__item edit_profile_pic_box">
                    <div class="pic">
                
                        <img id="pic" src="../../uploads/<%= data.pic %>" alt="your image" />
                        <label>Upload
                            <input type='file' name='pic' onchange="loadFile(event)" required hidden/>
                        </label>
                        <button id="change" disabled>Change</button> 
                    </div>

                    <div class="edit-toggle">
                        
                        <label>
                            <input type="checkbox" id="chk">
                            <div></div>
                        </label>
                    </div>
                </div>

                <div class="form__item">
                    
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-card-heading" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                        </svg>
                        <input type="text" name="enrollId" id="enrollId" value="<%= data.enrollId %>" placeholder="<%= data.enrollId %>" disabled required/>
                   
                    
                </div>
                <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg>
                      <input type="text" name="firstName" id="firstName" value="<%= data.firstName %>" placeholder="<%= data.firstName %>" disabled required>
               
                
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                    <input type="text" name="lastName" id="lastName" value="<%= data.lastName %>" placeholder="<%= data.lastName %>" disabled required>
               
                
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                      </svg>
                    <SELECT id="gender" name="gender" disabled>
                        <option value="<%= data.gender %>" ><%= data.gender %></option>
                        <OPTION Value="male">Male</OPTION>
                        <OPTION Value="female">Female</OPTION>
                    </SELECT>
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-calendar2-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                        <path fill-rule="evenodd" d="M8 8a.5.5 0 0 1 .5.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8z"/>
                      </svg>
                    <input type="date" name="dob" min='1985-01-01' id="dob" value="<% if(data.dob.getMonth() < 10 && data.dob.getUTCDate() < 10) { %><%= data.dob.getFullYear() %>-0<%= data.dob.getMonth()+1 %>-0<%= data.dob.getUTCDate() %><% } else if(data.dob.getUTCDate() < 10) { %><%= data.dob.getFullYear() %>-<%= data.dob.getMonth()+1 %>-0<%= data.dob.getUTCDate() %><% } else if(data.dob.getMonth()+1 < 10) { %><%= data.dob.getFullYear() %>-0<%= data.dob.getMonth()+1 %>-<%= data.dob.getUTCDate() %><% } else { %><%= data.dob.getFullYear() %>-<%= data.dob.getMonth()+1 %>-<%= data.dob.getUTCDate() %><% } %>" placeholder="<%= data.dob.getFullYear() %>-<%= data.dob.getMonth() %>-<%= data.dob.getDay() %>" disabled required>
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm4.854-7.85a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                      </svg>
                    <input type="text" name="parentage" id="parentage" value="<%= data.parentage %>" placeholder="<%= data.parentage %>" disabled required> 
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-house" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                      </svg>
                    <input type="text" name="address" id="address" value="<%= data.address %>" placeholder="<%= data.address %>" disabled required>
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                      </svg>
                    <SELECT id="department" name="department"disabled>
                        <OPTION value="<%= data.department %>"><%= data.department %></OPTION>
                        <OPTION Value="cse">CSE</OPTION>
                        <OPTION Value="electrical">Electrical</OPTION>
                        <OPTION Value="electronics">Electronics & Communication</OPTION>
                        <OPTION Value="mechanical">Mechanical</OPTION>
                        <OPTION Value="civil">Civil</OPTION>
                        
                    </SELECT>
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list-ol" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                        <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z"/>
                      </svg>
                    <SELECT id="semester" name="semester" disabled>
                        <OPTION value="<%= data.semester %>"><%= data.semester %></OPTION>
                        <OPTION Value="1">1st</OPTION>
                        <OPTION Value="2">2nd</OPTION>
                        <OPTION Value="3">3rd</OPTION>
                        <OPTION Value="4">4th</OPTION>
                        <OPTION Value="5">5th</OPTION>
                        <OPTION Value="6">6th</OPTION>
                        <OPTION Value="7">7th</OPTION>
                        <OPTION Value="8">8th</OPTION>
                        

                        
                    </SELECT>
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-sort-alpha-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11A.5.5 0 0 1 4 2z"/>
                        <path fill-rule="evenodd" d="M6.354 11.146a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L4 12.793l1.646-1.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M9.664 7l.418-1.371h1.781L12.281 7h1.121l-1.78-5.332h-1.235L8.597 7h1.067zM11 2.687l.652 2.157h-1.351l.652-2.157H11zM9.027 14h3.934v-.867h-2.645v-.055l2.567-3.719v-.691H9.098v.867h2.507v.055l-2.578 3.719V14z"/>
                      </svg>
                    <SELECT id="section" name="section" disabled>
                        <OPTION value="<%= data.section %>"><%= data.section %></OPTION>
                        <OPTION Value="A">A</OPTION>
                        <OPTION Value="B">B</OPTION>
                        <OPTION Value="C">C</OPTION>
                        <OPTION Value="D">D</OPTION>
                    </SELECT>
                 </div>

                 <div class="form__item">
                    
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-stoplights" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path fill-rule="evenodd" d="M10 1H6a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 0a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H6z"/>
                        <path d="M14 2h-2v2c1.2-.4 1.833-1.5 2-2zM2 2h2v2c-1.2-.4-1.833-1.5-2-2zm12 4h-2v2c1.2-.4 1.833-1.5 2-2zM2 6h2v2c-1.2-.4-1.833-1.5-2-2zm12 4h-2v2c1.2-.4 1.833-1.5 2-2zM2 10h2v2c-1.2-.4-1.833-1.5-2-2z"/>
                      </svg>
                    <input type="text" name="busStop" id="busStop" value="<%= data.busStop %>" placeholder="<%= data.busStop %>" required disabled>
                 </div>
                 <div class="form__item button_box">

                     <div class="button_sub">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                        </svg>
                        <button  name="upload_details" value="update" id="update" disabled>UPDATE</button>
                     </div>
                    
                </div>

            </form>
        </section>
          
      </main>
    </div>
</body>
<script>
    const loadFile = function(event) {
    const reader = new FileReader();
    reader.onload = function(){
      const pic = document.getElementById('pic');
      pic.src = reader.result;
      document.querySelector("#change").removeAttribute("disabled");
    };
    // Handle File Validation here
    let fileSize = event.target.files[0].size / 1024 / 1024;
    let filePath = event.target.files[0].name;
    console.log(filePath);
    let allowedExtensions =  
                    /(\.jpg|\.jpeg|\.png)$/i; 
    if(fileSize > 2){
        alert("File size must be less than 2 mb");
    }
    if(!allowedExtensions.exec(filePath)){
        alert("Invalid File Type | Accepted: Png, Jpg, Jpeg");
    }
    if(fileSize < 2 && allowedExtensions.exec(filePath)){
        reader.readAsDataURL(event.target.files[0]);
    }
  };

  // Handling Toggle To Disable and Enable Fields

  const toggle = document.querySelector("#chk");
  const inputFields = document.querySelectorAll("input");
  const selectFields = document.querySelectorAll("select");
  
  const logoutButton = document.querySelector(".profile__button");
  
  function removeCookies() {
    let res = document.cookie;
    let multiple = res.split(";");
    for(let i = 0; i < multiple.length; i++) {
        let key = multiple[i].split("=");
        document.cookie = key[0]+" =; expires = Thu, 01 Jan 1970 00:00:00 UTC";
    }
  }
  
  logoutButton.onclick = ()=>{
    console.log("Worjing");
    // Clear Cookies
    removeCookies();
    window.location.reload();
  }
   
  //Handling Toggle
  toggle.onclick = ()=>{
        if(toggle.checked){
        document.querySelector("#update").removeAttribute("disabled");
        for(let i=0;i<inputFields.length;i++){
            if(i!=2){
                inputFields[i].removeAttribute("disabled");
                
            }
        }
        for(let i=0;i<selectFields.length;i++){
          selectFields[i].removeAttribute("disabled");
        }

    }else{
        document.querySelector("#update").setAttribute("disabled","");
        for(let i=0;i<inputFields.length;i++){
            if(i!=2){
                inputFields[i].setAttribute("disabled","");
                document.querySelector("#change").setAttribute("disabled","");
                
            }
        }
        for(let i=0;i<selectFields.length;i++){
          selectFields[i].setAttribute("disabled","");
        }
    }
  }

  // Handling Update Student Using Fetch
    // Lets Get Some Variables Fist
    
    let url = document.querySelector("form").getAttribute("action");
    let fullUrl = `${url}`;
    console.log(fullUrl);

    document.querySelector("#update").onclick = (e)=>{
            e.preventDefault();
            let formData = {
            enrollId: document.querySelector("#enrollId").value,
            firstName: document.querySelector("#firstName").value,
            // middleName: document.querySelector("#middleName").value,
            lastName: document.querySelector("#lastName").value,
            gender: document.querySelector("#gender").value,
            dob: document.querySelector("#dob").value,
            parentage: document.querySelector("#parentage").value,
            address: document.querySelector("#address").value,
            department: document.querySelector("#department").value,
            semester: document.querySelector("#semester").value,
            section: document.querySelector("#section").value,
            busStop: document.querySelector("#busStop").value,
        }
            const updateFormRequest = new XMLHttpRequest;
            updateFormRequest.open("PUT",fullUrl,true);
            updateFormRequest.setRequestHeader('Content-Type','application/json');
            updateFormRequest.setRequestHeader('X-Requested-With','XMLHttpRequest');
            updateFormRequest.onreadystatechange = ()=>{
                if(updateFormRequest.readyState==4&&updateFormRequest.status==200){
                  //  document.querySelector("#update-status").innerHTML = "Updated";
                  alert("Updated");
                } 
            }
            updateFormRequest.send(JSON.stringify(formData));

        }

        document.querySelector("#change").onclick = ()=>{

            const fileData = new FormData();
            const fileField = document.querySelector('input[type="file"]');
            const enrollId = document.querySelector("#enrollId").value;
            
            fileData.append('pic', fileField.files[0]);

            fetch(`/admin/changePic?id=${enrollId}`, {
            method: 'PUT',
            body: fileData
            })
            .then((response) => {console.log("Success")})

            .catch((err)=>{console.log("error")});
        }
        
        // Function for Validation for DOB
        function validateDOB(){
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth()+1; //January is 0!
            let yyyy = today.getFullYear();
            if(dd<10){
                    dd='0'+dd
                } 
                if(mm<10){
                    mm='0'+mm
                } 

            today = yyyy+'-'+mm+'-'+dd;
            document.querySelector("#dob").setAttribute("max", today);
        }
        validateDOB();
</script>
</html>